/* Custom CSS For the Robusta UI */

/* Menu Bar UI */

#robusta-menu-ui {
    float: left;
}

.robusta-menu-item {
    border-right: 3px solid #80603E;
    padding: 2px;
    display: inline;
}

/* Tastings UI Widget */

.robusta-tastings-widget {
    border: 2px solid #000;
    padding: 3px;
    width: 820px;
    height: 390px;
    overflow: auto;
}

.robusta-tastings-list {
    border: 1px solid #000;
    padding: 3px;
    height: 90px;
    overflow: auto;
}
.robusta-tastings-list-item {
    border: 1px solid #000;
    padding: 2px;
}

.selected {
    background: #dedede;
}

.robusta-tasting-editor {
    border: 1px solid #000;
    padding: 3px;
    height: 250px;
    overflow: auto;
}

.robusta-tasting-metric-editor {
    border: 1px solid #000;
}

.robusta-tasting-variable-editor {
    border: 1px solid #000;
}

/* Tasting Technician UI Widget */

.robusta-technician-editor {
    border: 2px solid #000;
    padding: 3px;
    width: 820px;
    height: 390px;
    overflow: auto;
}

.robusta-technician-product-editor {
    border: 1px solid #000;
    padding: 2px;
}

/* Testing UI Widget */

.robusta-testing-ui {
    border: 2px solid #000;
    padding: 3px;
    width: 820px;
    height: 390px;
    overflow: auto;
}
